<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connstringReport" value="Data Source=DESKTOP-84QJI6O\;Initial Catalog=Report;Integrated Security=True"></add>
    <add key="connstringAlarm" value="Data Source=DESKTOP-84QJI6O\;Initial Catalog=WWALMDB;Integrated Security=True"></add>
  </appSettings>
</configuration>