<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="connstringReport" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=Report;Integrated Security=True"></add>
    <add key="connstringAlarm" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=WWALMDB;Integrated Security=True"></add>
  </appSettings>
</configuration>